{% extends 'base.html' %}

{% block content %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
      <div class="container">
        <!-- Example row of columns -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="alert alert-warning">
                  <ul class=flashes>
                      {% for message in messages %}
                          <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
              </div>
          {% endif %}
        {% endwith %}

        <h1 class="display-3">GPON - PORTAS PILOTO</h1>
        <p>Por favor selecione o arquivo desejado.</p>
        <div class="row">
          <div class="col-md-12">
            <p>
              Esse relatório deve receber um arquivo .csv com os dados das portas das CTO.
              Geralmente esse arquivo vem com o nome 'Circuitos CTO-06-24.csv' ou similar.
            </p>

          </div>
        </div>

        <form method=post enctype=multipart/form-data action={{ url_for('gpon_portas') }}>
          <div class="row">
            <label class="col-md-6 col-lg-6">
              Circuitos CTO
              <div>
                <input type=file name=file1>
              </div>
            </label>

            <div class="col-md-6 mb-6">
              <label for="DateAtual">Data atual</label>
              <input type="text" class="form-control" name="DateAtual" id="DateAtual" placeholder="dd/mm/aaaa" required>
            </div>
          </div>

          <div class="row" style="padding-top: 20px">
            <div class="col-md-12 text-center">
              <input class="btn btn-secondary" type=submit value="Atualizar »">
            </div>
          </div>
        </form>



      </div> <!-- /container -->
  </div>
</main>

{% endblock %}
