Click==7.0
configparser==3.7.4
et-xmlfile==1.0.1
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10.1
MarkupSafe==1.1.1
mysql-connector==2.2.9
openpyxl==2.6.1
waitress==2.1.1
Werkzeug==0.15.2
