{% extends 'singleForm.html' %}

{% block info %}
<h1 class="display-3">METRO</h1>
<p>Por favor selecione os arquivos desejados.</p>
<div class="row">
  <div class="col-md-12">
    <h2>Tráfego Anéis</h2>
    <p>
      Esse relatório requer o upload de um arquivo no formato ".csv". Tal
      arquivo contém informações dos anéis como o tráfego em Gbps, e a porcentagem
      dele prevista para os próximos meses.
    </p>
  </div>
</div>
{% endblock %}

{% block action %}{{ url_for('metro') }}{% endblock %}
